root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,json.dist}]
indent_style = space
indent_size = 4

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.xml]
indent_style = tab
indent_size = 4
ij_xml_space_inside_empty_tag = true

[*.xml.dist]
indent_style = tab
indent_size = 4
ij_xml_space_inside_empty_tag = true
